sites/migrations/
projects/migrations/
tasks/migrations/
resource_tracking/migrations/
/static
/siteapp/.env
resource_tracking/view/__pycache__/
resource_tracking/__pycache__/
sites/__pycache__/
sites/models/__pycache__/
tasks/models/__pycache__/
projects/models/__pycache__/
resource_tracking/__pycache__/admin.cpython-36.pyc
resource_tracking/models/__pycache__/fault_management.cpython-36.pyc
resource_tracking/view/__pycache__/my_fault.cpython-36.pyc
resource_tracking/view/__pycache__/userTracking.cpython-36.pyc
resource_tracking/view/__pycache__/
resource_tracking/models/__pycache__/
siteapp/__pycache__/
media/fault_images/

sites/__pycache__/admin.cpython-36.pyc
media/None/